@import "styles/sizes";

.container {
  display: flex;
  height: 100%;
  width: 100%;
  background: linear-gradient(-135deg, #c850c0, #4158d0);
}

.formContainer {
  margin: auto;
  height: 60%;
  width: 50%;
  background: white;
  border-radius: $borderRadiusMid;
}
