@import 'styles/sizes';

.container {
  display: flex;
  height: 100%;
  width: 100%;
  background: linear-gradient(-135deg, #c850c0, #4158d0);
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 60%;
  width: 30%;
  background: white;
  border-radius: $borderRadiusMid;
}

.title {
  font-size: $title;
  font-weight: 500;
}

.input {
  width: 70%;
}

.button {
  margin-top: $mainMargin;
  width: 70%;
}

.forgotPwdBtn {
  margin-top: $mainMargin;
}
